
{% extends 'base.html' %}

{% block content %}
    <div class="card text-center">
    <div class="card-body">
        <h2 class="text-center">Election Polls</h2>
        {% for question in questions %}
            <div class="card-body">
            <p class="lead">{{ question }}</p>
                <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
                <a href="{% url 'polls:results' question.id %}" class="btn btn-dark btn-sm">Results</a>
            </div>
            <hr>

        {% endfor %}
    </div>
    </div>

{% endblock %}
